*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(238, 208, 113);
    color: black;
}


.imagem img{
    display: flex;
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: 100% 100%;
    object-fit: fill;
    
}

